// this is where aboutus-container start
.aboutus-container{
  margin: 0px;
  padding: 16px;
}
// this is where aboutus-container end


// this is where aboutus-card-h1 starts
.aboutus-card-h1{

}
// this is where aboutus-card-h1 ends

// this is where aboutus-card-presentation-carrousel starts
.aboutus-card-presentation-carrousel{
  text-align: justify;
  background-color: #182131;
  border-radius: 15px;
  padding: 8px;
}
.carousel-inner{
  border-radius: 15px;
  height: 300px;
  width: 300px;
}
.carousel-item{
  border-radius: 15px;
  height: 300px;
  width: 300px;
}

.carousel-item img{
  border-radius: 15px;
  height: 100%;
  width: 100%;
}

// this is where aboutus-card-presentation-carrousel ends

// this is where aboutus-card-presentation starts
.aboutus-card-presentation{

  background-color: #182131;
}
// this is where aboutus-card-presentation ends

// this is where aboutus-card-carrousel starts
.aboutus-card-carrousel{
  display: flex;
  justify-content: center;
  height: 300px;
  width: 300px;
  width: 70%;
  margin: auto;
}


// this is where aboutus-card-carrousel ends

// this is where aboutus-card-information starts
.aboutus-card-information{
  justify-content: center;
  text-align: justify;
  background-color: #182131;
  border-radius: 15px;
  padding: 8px;
  margin-top: 16px;
}
.aboutus-card-information img{
  border-radius: 15px;
  background-image: cover;
  height: 300px;
  width: 300px;
  margin-top: 16px;
  margin-left: 20px;

}
// this is where aboutus-card-information ends

// this is where aboutus-card-philosophy starts
.aboutus-card-philosophy{
  justify-content: center;
  text-align: justify;
  background-color: #182131;
  border-radius: 15px;
  padding: 16px;
  margin-top: 16px;
}
// this is where aboutus-card-philosophy ends

// this is where aboutus-card-philosophy img starts
.aboutus-card-philosophy img{
  border-radius: 15px;
  height: 300px;
  width: 300px;
  margin: 14px;
}
// this is where aboutus-card-philosophy img ends
