// advice-container
.advice-container{
padding: 8px;
height: 100%;
}
// advice-container

// advice-card-h1
.advice-card-h1{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ffffff;
}
// advice-card-h1

// advice-card-nutrition
.advice-card-nutrition{
  justify-content: center;
  text-align: justify;
  background-color: #182131;
  border-radius: 15px;
  padding: 16px;
  margin-top: 16px;
}
// advice-card-nutrition

// advice-card-entrainement
.advice-card-entrainement{
  justify-content: center;
  text-align: justify;
  background-color: #182131;
  border-radius: 15px;
  padding: 16px;
  margin-top: 16px;
}
// advice-card-entrainement

// advice-card-mentalite
.advice-card-mentalite{
  justify-content: center;
  text-align: justify;
  background-color: #182131;
  border-radius: 15px;
  padding: 16px;
  margin-top: 16px;
}
// advice-card-mentalite
