.aptitude {
  background-color: #0a1828;
  // margin-left: auto;
  color: #fff;
  // margin: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-select {
  color: white;
  background-color: #0a1828;
  margin-right: 20px;
}

.option-image.active {
  border: 5px solid #5b8ef1;
  box-shadow: 0 0 10px #182131;
}

.carousel-item.active {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.next-link {
  margin-top: 15px;
  text-decoration: none !important;
  color: white;
  background-color: #182449;
  padding: 15px;
  border-radius: 20px;
}

.next-link:hover {
  cursor: pointer;
  //   color: #253974;
  background-color: #3a4f97;
}

.title {
  font-weight: bold;
  margin-top: 1rem;
}

.info-apt {
  width: 300px;
}
.advice {
  font-style: 12px;
}

.krousel {
  width: 100%;
}
