.container-user {
  padding: 10px;
  margin: 25px;
}


.container-program {
  background-color: #182131;
  padding: 10px;
  margin: 25px;
  border-radius: 15px;
  border: 1px solid black;
}

.container-stats {
  background-color: #182131;
  padding: 10px;
  margin: 25px;
  border-radius: 15px;
  border: 1px solid black;
  text-align: center;
}

.container-agenda {
  background-color: #182131;
  padding: 10px;
  margin: 25px;
  border-radius: 15px;
  border: 1px solid black;
  text-align: center;
}

.navbar {
  margin: 15px;
}
