.container-user {
  padding: 10px;
  margin: 25px;
}


.container-program {
  background-color: #182131;
  padding: 10px;
  margin: 25px;
  border-radius: 15px;
  border: 1px solid black;
}

.container-stats {
  background-color: #182131;
  padding: 10px;
  margin: 25px;
  border-radius: 15px;
  border: 1px solid black;
  text-align: center;
}

.navbar {
  margin: 15px;
}

.stats-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.fa-chart-simple {
  font-size: 50px;
}

.container-agenda {
  background-color: #182131;
  padding: 10px;
  margin: 25px;
  border-radius: 15px;
  border: 1px solid black;
  text-align: center;
}

.agenda-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.fa-calendar-check {
  font-size: 40px;
}

.fa-calendar-xmark {
  font-size: 40px;
}
