.log-in-container{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 10vh);
  margin: 8px;
}


.card-log-in-h2{
  display: flex;
  justify-content: center;
  width: 90%;
}

.card-log-in-form{

  width: 95%;
}

.card-log-in-form input{
  border-radius: 20px;
}

.form-actions input {
  margin: auto;
  justify-content: center;
  color: white;
  font-size: 24px;
  background-color: #0d6efd;
  padding: 20px;
  border: 2px solid #0d6efd;
  border-radius: 40px;
  height: 10vh;
  width: 16vh;
  margin: 0vh;
}

.card-log-in-logo img{
  width: 300px;
  height: 300px;
}
