.log-in-container{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 10vh);
  margin: 8px;
}

.card-log-in-logo{

  background-image: url("hive-logo.png");
  background-size: cover;
  position: absolute;
  margin: 0px;
  margin-right: 0px;
  margin-left: 0px;
  width: 30%;
  height: 10vh;
}

.card-log-in-h2{
  justify-content: center;
  width: 90%;
  margin-top: 20vh;
}

.card-log-in-form{

  width: 95%;
}

.card-log-in-form input{
  border-radius: 20px;
}

.form-actions input {
  color: white;
  font-size: 24px;
  background-color: blue;
  padding: 20px;
  border: 1px solid blue;
  border-radius: 15px;
  height: 10vh;
  width: 16vh;
  margin: 0vh;
}
