// messages-container
.messages-container {
  padding: 8px;
  height: 82vh;
}
// messages-container

// messages-card-button-create-post
.messages-card-button-create-post {
  position: fixed;
  bottom: 10vh;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
  width: 100%;
  padding-right: 30px;
}

.messages-card-button-create-post button {
  text-decoration: none !important;
  color: white;
  background-color: #5b8ef1;
  padding: 0px;
  border-radius: 40px;
  width: 64px;
  border: none;
  font-size: 40px;
  height: 64px;
}

// messages-card-button-create-post

// messages-card-post

.card {
  background-color: #152f4ca8;

  color: white;
  border-radius: 40px;
}

.card img {
  background-color: #152f4ca8;
  object-fit: cover;
  height: 300px;
  width: 300px;
  border-radius: 40px;
  width: 100%;
}
// messages-card-post

// modal-content
.modal-content {
  background-color: #152f4ca8;
  border-radius: 40px;
}
// modal-content

// reaction-buttons
.card-body h5 {
  margin-top: 8px;
}
.card-body {
  border-radius: 40px;
}
// reaction-buttons
.my-program-card-heading {
  font-size: 24px;
}
