// here is where profile-container starts
.profile-container {
  justify-content: center;
  padding: 8px;
}

// logo
.profile-card-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-card-logo img {
  height: 300px;
  width: 300px;
}
// logo

// here is where profile-card-info starts
.profile-card-info {
  margin-top: 32px;
  margin-left: 8px;
  margin: 8px;
  padding: 16px;
  background-color: #182131;
  border-radius: 15px;
}
// here is where profile-card-info starts

// profile-card-button-test
.profile-card-button-test {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-card-button-test a {
  color: white;
  font-size: 24px;
  background-color: #647bc2;
  padding: 12px 28px;
  border-radius: 40px;
}

.user > h2 {
  font-weight: bold;
  letter-spacing: 2px;
}
