// here is where profile-container starts
.profile-container{
  margin: 8px;
  padding: 16px;
  background-color: #182131;
  border-radius: 15px;
}
// here is where profile-container ends

// here is where profile-card-test starts
.profile-card-test	{
  margin-top: 32px;
  margin-left: 8px;

}

.profile-card-test a{
  color: #f0f0f0;
  background-color: blue;
  font-size: 16px;
  border-radius: 15px;
  padding: 24px;
}

// here is where profile-card-test starts
