// here is where the container-sign-up starts

.container-sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 10vh);
  margin: 8px;
}

// here is where the container-sign-up ends

// here is where the card-sign-up-logo starts

.card-sign-up-logo{
background-image: url("hive-logo.png");
background-size: cover;
position: absolute;
margin: 0px;
margin-right: 0px;
margin-left: 0px;
width: 30%;
height: 10vh;
}


// here is where the card-sign-up-logo ends





// here is where the card-sign-up-h1 starts

.card-sign-up-h1{
  display: flex;
  justify-content: center;
  width: 90%;
  margin-top: 20vh;
}
// here is where the card-sign-up-h1 ends

// here is where the card-sign-up starts

.card-form-sign-ip{
  width: 95%;
}

// here is where the card-sign-up ends

// here is where the form-sign-up starts

.form-actions input{
  color: white;
  font-size: 24px;
  background-color: blue;
  padding: 12px;
  border: 1px solid blue;
  border-radius: 15px;
  height: 10vh;
  width: 16vh;
  margin: 0vh;

}

// here is where the form-sign-up ends

// here is where the form-actions starts

.form-inputs-sign-up input{
  border-radius: 20px;
}

.button-log-in{
  color: white;
  font-size: 24px;
  background-color: green;
  padding: 20px;
  border: 1px solid green;
  border-radius: 15px;
  height: 10vh;
  width: 16vh;
  margin: 0vh;
}

// here is where the form-actions ends

.form-actions{
  display: flex;
  justify-content: center;
  margin-top: 0px;
  width: 100%;
  margin-bottom: 0vh;
}

.form-text{
  color: white;
}
