

  <div class="container-notification d-none" data-notifications-target="notification">
    <i class="fa-solid fa-fire-flame-curved"></i>
    <i class="fa-solid fa-fire-flame-curved"></i>
    <i class="fa-solid fa-fire-flame-curved"></i>
    <i class="fa-solid fa-fire-flame-curved"></i>
    <i class="fa-solid fa-fire-flame-curved"></i>
    <i class="fa-solid fa-fire-flame-curved"></i>
    <h4>BRAVO</h4>
    <i class="fa-solid fa-fire-flame-curved"></i>
    <i class="fa-solid fa-fire-flame-curved"></i>
    <i class="fa-solid fa-fire-flame-curved"></i>
    <i class="fa-solid fa-fire-flame-curved"></i>
    <i class="fa-solid fa-fire-flame-curved"></i>
    <i class="fa-solid fa-fire-flame-curved"></i>

    <div>
      <p>Tous les objectifs sont remplis.</p>
      <p>Tu as brûlé <%= @sum %> kcl aujourd'hui.</p>
    </div>

    <div class="centre">
      <%= link_to messages_path do%>
      <button class="checkpoint-button">Partagez</button>
      <% end %>
    </div>

    <div class="centre">
      <%= link_to dashboard_path do%>
      <button class="checkpoint-button">Retour</button>
      <% end %>
    </div>
  </div>
