 <h4><b>Mon programme</b></h4>

 <div class="container-exercice">
 <h5><b>Mes exercices quotidiens</b></h5>
  <div class="bloc-exercice">
    <h6>Echauffement</h6>
  </div>

   <div class="bloc-exercice">
    <h6>Exercice 1</h6>
    <h6>BRAS</h6>
  </div>

   <div class="bloc-exercice">
    <h6>Exercice 2</h6>
    <h6>DOS</h6>

  </div>

  <div class="bloc-exercice">
    <h6>Exercice 3</h6>
    <h6>JAMBES</h6>
  </div>

 </div>
