<div class="navbar-bot">

  <div class="card-dashboard">
    <div class="button-action">
      <button class="button-dashboard">
      <a href=""><i class="fa-solid fa-chart-line"></i></a>
      </button>
    </div>
    <div class="paragraph">
      <p>Dashboard</p>
    </div>
  </div>

  <div class="card-community">
    <div class="button-action">
      <button class="button-community">
      <a href=""><i class="fa-solid fa-users"></i></a>
      </button>
    </div>
    <div class="paragraph">
      <p>Community</p>
    </div>
  </div>

  <div class="dropup-center">
    <div class="button-action">
        <button class="button-menu" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-bars"></i>
        </button>
        <div class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Profil</a></li>
          <li><a class="dropdown-item" href="#">Exercises</a></li>
          <li><a class="dropdown-item" href="#">A propos de Hive</a></li>
          <li><a class="dropdown-item" href="#">Parametres</a></li>
        </div>

        <div class="paragraph">
          <p>Options</p>
        </div>

    </div>
  </div>
</div>
