<div class="navbar-bot fixed-bottom">

    <%= link_to dashboard_path do%>
  <div class="card-dashboard">
    <div class="button-action">

      <button class="button-dashboard">
      <i class="fa-solid fa-chart-line"></i>
      </button>
    </div>

    <div class="paragraph">
      <p>Dashboard</p>
    </div>
  </div>
  <% end %>
  <%= link_to messages_path do %>
  <div class="card-community">
    <div class="button-action">
      <button class="button-community">
      <i class="fa-solid fa-users"></i>
      </button>
    </div>
    <div class="paragraph">
      <p>Communauté</p>
    </div>
  </div>
  <% end %>

  <div class="dropup-center">
    <div class="button-action">
        <button class="button-menu" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-bars"></i>
        </button>
        <div class="dropdown-menu">
          <li><a class="dropdown-item test" href="profile">Profil</a></li>
          <li><a class="dropdown-item test" href="#">Exercices</a></li>
          <li><a class="dropdown-item test" href="aboutus">A propos de Hive</a></li>
          <li><a class="dropdown-item test" href="#">Paramètres</a></li>
          <li><a class="dropdown-item test" href="logout">Déconnexion</a></li>
        </div>

        <div class="paragraph">
          <p>Options</p>
        </div>

    </div>
  </div>
</div>
