<%# here is where starts the topbar-container %>
<div class="topbar-container text-center">

  <%# topbar-logo starts %>
  <div class="topbar-logo">
    <%= image_tag  "hive-logo.png"%>
  </div>
  <%# topbar-logo ends %>


</div>
<%# here is where starts the topbar-container %>
<%#  aujourd'hui cest <%= Date.today %>
