<%# here is where starts the topbar-container %>
<div class="topbar-container">

  <%# topbar-avatar starts %>
  <div class="topbar-avatar">
   <%= image_tag  "cristian.jpg"%>
  </div>
  <%# topbar-avatar ends %>

  <%# topbar-information starts %>
  <div class="topbar-information">
    <p>Hello <%= current_user.nickname %></p>
  </div>
  <%# topbar-information end %>

  <%# topbar-logo starts %>
  <div class="topbar-logo">
    <%= image_tag  "hive-logo.png"%>
  </div>
  <%# topbar-logo ends %>


</div>
<%# here is where starts the topbar-container %>
<%#  aujourd'hui cest <%= Date.today %>
