<%= link_to dashboard_path do%>
<i class="fa-solid fa-arrow-left"></i>
<% end %>

<div class="container mt-4">

<h1> Nos conseils </h1>

<h2> Nutrition </h2>

<p> <strong>  Priorité à une alimentation équilibrée :</strong> Optez pour des repas riches en fruits, légumes, protéines maigres et grains entiers. Ces aliments vous fournissent les nutriments essentiels pour vous sentir rassasié et énergisé. </p>

<p> <strong>  Contrôle des portions : </strong>  Apprenez à reconnaître les portions appropriées en utilisant des assiettes plus petites et en écoutant votre sensation de satiété. Manger lentement et savourer chaque bouchée peut vous aider à mieux contrôler vos portions.</p>

<p> <strong> Hydratation : </strong>  Buvez beaucoup d'eau tout au long de la journée, surtout avant et après vos séances d'entraînement. L'eau aide à réguler votre appétit et à maintenir vos fonctions corporelles optimales.</p>

<h2> Entraînement</h2>

<p> <strong> Commencez lentement : </strong>  Ne vous sentez pas obligé de vous pousser trop fort dès le début. Commencez par des activités à faible impact comme la marche, la natation ou le vélo, puis augmentez l'intensité au fur et à mesure que vous vous sentez plus à l'aise.</p>

<p> <strong>  Sessions courtes et fréquentes : </strong> Mieux vaut faire de courtes séances d'entraînement plusieurs fois par semaine que de longues séances moins fréquentes. Cela vous permet de rester motivé et de progresser de manière constante.</p>

<p> <strong> Travaillez sur la mobilité : </strong>Intégrez des exercices de mobilité et d'étirement pour améliorer votre flexibilité et réduire le risque de blessures. Prenez le temps de vous étirer après chaque séance d'entraînement pour favoriser la récupération musculaire.</p>

<h2> Mentalité </h2>

<p> <strong> Fixez des objectifs réalistes : </strong> Établissez des objectifs concrets et réalisables, et célébrez chaque étape de votre progression. Cela vous aidera à rester motivé et engagé sur le long terme.</p>
<%= render "shared/navbar" %>
</div>
