<div class="navbar">
<p>Logo à insérer</p>
</div>

<div class="container-user">
  <h4><b>DASHBOARD</b></h4>
  <h6>Bonjour, <%= current_user.email %> <%= Date.today %></h6>
</div>

<div class="container-program">
  <h5><b>Mon programme quotidien</b></h5>
  <div class="row">
    <div class= "col-sm-9">
      <p><em> Difficulté </em></p>
        <i class="fa-solid fa-bolt"></i>
        <i class="fa-solid fa-bolt"></i>
        <i class="fa-solid fa-bolt"></i>
        <!-- ajouter image représentant le niveau de difficulté d'un programme -->

      <p><em> Temps d'entrainement </em></p>
      <!-- afficher le temps de réalisation du programme quotidien-->
        <p><b>10 - 15 minutes</b></p>

      <p><em> Full body workout - 12 semaines </em></p>
      <!--mettre le nom du programs_workout + la durée du programme-->
    </div>

    <div class= "col-sm-3">
      <button>GO</button>
    </div>

  </div>
</div>

<div class="container-stats">
  <h5><b>Ma progression</b></h5>
  <div class=stats-cards>
    <i class="fa-solid fa-chart-simple"></i>
    <i class="fa-solid fa-chart-simple"></i>
  </div>
</div>

<div class="container-agenda">
  <h5><b>Mon agenda</b></h5>
  <div class="agenda-cards">
    <i class="fa-regular fa-calendar-check"></i>
    <i class="fa-regular fa-calendar-check"></i>
    <i class="fa-regular fa-calendar-check"></i>
    <i class="fa-regular fa-calendar-xmark"></i>
    <i class="fa-regular fa-calendar-xmark"></i>
  </div>
</div>
