<div class="show-container">
  <div class="card-logo">
  </div>

  <div class="card-home-information">
   <p>Bienvenue sur HIVE !</p>
   <p>Changer de vie, une app à la fois</p>
  </div>

  <div class="card-home-button">
    <%= link_to "Sign-in", new_user_session_path %>
    <%= link_to " delete", destroy_user_session_path, data: { turbo_method: :delete} %>
  </div>

</div>
