<div class="show-container">

  <div class="card-home-information">
  <%= image_tag  "hive-logo.png", width: "300px"%>
   <p>Bienvenue sur HIVE !</p>
   <p>Changer de vie, une app à la fois</p>
  </div>

  <div class="card-home-button">
    <%= link_to "Log in", new_user_session_path, class:"card-home-button-log-in" %>


    <% if user_signed_in? %>
     <%= link_to "delete", destroy_user_session_path, data: { turbo_method: :delete, confirm: "Are you sure you want to log out?" } %>
    <% end %>
  </div>

</div>
