<div class="show-container">
  <div class="card-logo">
  </div>

  <div class="card-home-information">
   <p>Bienvenue sur hive !</p>
   <p>Changer de vie, une app à la fois</p>
  </div>

  <div class="card-home-button">
    <button class="button-sign-in" >Sign-in</button>
  </div>

</div>
