
  <%# <%= render 'shared/topbar' %>
<div class="profile-container">

 <div class="logo">
    <%= image_tag("hive-logo", class:"big-logo") %>
  </div>

  <div class="profile-container-info info-session text-center mt-5">
    <h2> Hello <%= current_user.nickname.capitalize %>  </h2>
    <p> Voici le lien vers votre Test d'aptitude qui déterminera votre programme</p>
  </div>

  <div class="button-profile-test" >
    <button class="button-test">
      <%= link_to "Test d'aptitude", aptitudes_path  %>
    </button>
  </div>

</div>
