
 <%# here is where profile-container starts  %>
  <div class="profile-container">

    <div class="profile-card-h1">
      <h1> Hello <%= current_user.email %>  </h1>
    </div>

    <div class="profile-card-h2">
      <h2> Voici le lien vers votre Test d'aptitude qui déterminera votre programme</h2>
    </div>

  </div>

    <div class="profile-card-test">
      <%= link_to "Test d'aptitude", aptitudes_path  %>
    </div>
  <%# here is where profile-container ends %>
