
  <%= render 'shared/topbar' %>

<div class="profile-container">
  <div class="profile-card-logo">
    <%= image_tag  "hive-logo.png", width: "300px"%>
  </div>
<div class="container mt-4 mb-4">
  <div class="user text-center">
    <h2> Hello <%= current_user.nickname.capitalize %>  </h2>
    <p> Voici le lien vers votre Test d'aptitude qui déterminera votre programme</p>
  </div>
</div>
  <div class="profile-card-button-test">

    <%# <div class="next-link" > %>
      <strong><%= link_to "Allons-y", aptitudes_path  %></strong>
    <%# </div> %>
  </div>
</div>
