<%= render "/shared/topbar" %>

<%= link_to dashboard_path do%>

<i class="fa-solid fa-arrow-left"></i>
<% end %>

<div class="container mt-4">
<h1> Suivre ma progression  </h1>
</div>





<canvas
  data-controller="chart"
  data-chart-data-value='{ "labels": ["January", "February", "March", "April", "May", "June", "July"], "datasets": [{ "label": "My First dataset", "backgroundColor": "transparent", "borderColor": "#3B82F6", "data": [37, 83, 78, 54, 12, 5, 99] }] }'
></canvas>;
