<%= render "/shared/topbar" %>

<%= link_to dashboard_path do%>

<i class="fa-solid fa-arrow-left"></i>
<% end %>

<div class="container mt-4">
<h1> Suivre ma progression  </h1>
</div>

 <%= line_chart current_user.get_weights %>
