// navbar-bot starts
.navbar-bot{
display: flex;
justify-content: space-between;
position: sticky;
bottom: 0;
height: 10vh;
width: 100%;
border-top: 1px solid #e0e0e0;
}
// navbar-bot ends

// card-dashboard starts
.card-dashboard{
  justify-content: center;
  justify-content: space-between;
  padding: 8px;
  width: 30%;
}


.button-dashboard{
  background-color: transparent;
  border: #0a1828;
  font-size: 32px;
  margin-top: 8px;
  margin: 0px;
  color: #0d6efd;
  padding: 0px;
  margin-left: 32px;
}
// card-dashboard ends


// card-community starts
.card-community{
justify-content: center;
justify-content: space-between;
padding: 8px;
width: 30%;
}

.button-community{
  background-color: transparent;
  border: #0a1828;
  font-size: 32px;
  margin-top: 8px;
  margin: 0px;
  color: #0d6efd;
  padding: 0px;
  margin-left: 32px;
}
// card-community ends


// dropup-center dropup starts
.dropup-center {
  justify-content: center;
  justify-content: space-between;
  padding: 8px;
  width: 30%;
}

.button-menu{
  background-color: transparent;
  border: #0a1828;
  font-size: 32px;
  margin-top: 8px;
  margin: 0px;
  color: #0d6efd;
  padding: 0px;
  margin-left: 32px;
}

.paragraph{
    margin-left: 16px;
    color: #0d6efd;
}
// dropup-center dropup ends
