// here is where the topbar-container starts
.topbar-container{
display: flex;
justify-content: space-between;
height: 10vh;
width: 100%;
border-bottom: 1px solid #e0e0e0;
padding: 8px;
}
// here is where the topbar-container ends

// topbar-avatar
.topbar-avatar{

  width: 30%;
}
.topbar-avatar img {
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  object-fit: cover;
}
// topbar-avatar

// topbar-information
.topbar-information{

  width: 30%;
}
// topbar-information

// topbar-logo
.topbar-logo{

  width: 8vh;
}

.topbar-logo img {
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  object-fit: cover;
}
// topbar-logo
