// here is where the topbar-container starts
.topbar-container {
  background-color: #0a1828;
  justify-content: space-between;
  top: 0;
  margin-top: 0px;
  display: flex;
  height: 8vh;
  width: 100%;
  z-index: 5;
}
// here is where the topbar-container ends

// topbar-avatar
.topbar-avatar {
  width: 24%;
  margin: 4px;
}

.topbar-avatar img {
  border: 1px solid white;
  width: 7vh;
  height: 7vh;
  border-radius: 50%;
  object-fit: cover;
}
// topbar-avatar

// topbar-information
.topbar-information {
  justify-content: space-between;
  width: 64%;
  padding: 16px;
  margin-left: 0px;
  font-size: 24px;
}
// topbar-information

// topbar-logo
.topbar-logo {
  justify-content: flex-end;
  width: 10vh;
}

.topbar-logo img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
// topbar-logo
