// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/usersign";
@import "pages/login";
@import "pages/aboutus";
@import "pages/profile";
@import "programs/index";
@import "pages/progress";

body {
  background-color: #0a1828;
  color: white;
  height: calc(100vh - 10vh);
  width: 100%;
}


button {
  color: white;
  font-size: 24px;
  background-color: blue;
  padding: 20px;
  border: 1px solid blue;
  border-radius: 15px;
  height: 10vh;
  width: 16vh;
  margin: 0vh;

a {
  text-decoration: none;
}
