
.container-program {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #0a1828;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  }

.bloc-exercice {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: #182131;

  }


.organized-bloc {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  }

  .btn-gradient {
    color: white;
    padding: 8px 24px;
    border-radius: 10px;
    font-weight: bold;
    background-color: #3a4f97;
    transition: background 0.3s ease;
    border: 1px solid #0F60C4;
  }

  .btn-gradient:hover {
    background: linear-gradient(#147EFF, #0F67DA);
    color: grey;
  }

.display-pictures {
  display: flex;
  justify-content: space-between;

  }

img {
  height: 100px;
  width: 110px;
  border-radius: 10px;

}

.align-details {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.checkpoint-button {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #3a4f97;
  font-weight: bold;
  color: white;

}

.container-notification {
  text-align: center;
  padding: 15px;
  margin: 40px;
  border-radius: 10px;
  background-color: #182131;
}

.centre {
  text-align: center;
}

.organized-button {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
